<div class="container mb-2">
<app-header>

</app-header>
    </div>
      

<div class="container mb-3">
    <app-navbar>

    </app-navbar>
</div>
      

<div class="container mb-3">
<app-cart>
    
</app-cart>
</div>

<div class="container mb-3">
    <app-information-of-user>
        
    </app-information-of-user>
</div>


<div class="container mb-3">
   <app-comment-customer>

   </app-comment-customer>
    </div>

    
<div class="container mb-3">
   <app-footer>

   </app-footer>
    </div>
      
      
