<div class="container">
    <div class="container-wrap">
        <div class="header">
            <a href="">About net</a>
            <a href="">housing indus</a>
            <a href="">Contact</a>
            <a href="">Wrbmail</a>
            <a href="">Support</a>
        </div>
        <div class="header-logo-left">
            <h2 class="logo-text">N-
                <small style="color: black;">net</small>
            </h2> 
        </div>
        <div class="header-logo-right">
            <img src="../../../assets/logo.jpg" alt="">
        </div>
        <div class="main">
            <a href="" style="color: rgb(9, 147, 239);;">private customers</a>
            <a style="color: black;" href="">businnes customers</a>
            <a style="color: black;" href="">Experience fiber</a>
            <a style="color: black;" href="">Help & Service</a>
            <a style="color: black;" href="">customer portal</a>
        </div>
    </div>
</div>