<div class="container">
    <div class="wrap">
        <div class="left">
            <h4 style="color:  rgb(9, 147, 239);">For good internet</h4>
            <img  src="../../../assets/moxc.jpg" alt="">
         </div>
             <div class="right">
                <p style="color: rgb(9, 147, 239); font-weight: bold;">Surf&Fon-Flat 300 ab 14,90€ mtl. 5</p>
                <p>bis zu 300 Mbit/s Download100 Mbit/s Upload2</p>
                <p>Gratis FRITZ!Box vom Hersteller AVM4
                </p>
            </div>
    </div>
</div>