.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 950px;
border: 4px solid blue;
}

.d{
 width: 100%;
}

.dd{
max-height: 500px;
background-color: blanchedalmond;
}
