<div class="slider">
    <div class="arrow right-arrow" (click)="nextSlide()">
      <i class="fa fa-arrow-right"></i>
    </div>
    <div class="slide-container" [style.transform]="'translateX(' + (-currentIndex * 320) + 'px)'">
      <div class="slides-wrap">
        <div *ngFor="let div of divs; let i = index" [ngClass]="{ 'active-slide': isActive(i) }" class="slide">
          <div class="header">
            <h3 class="header-header text-white">{{ div.title }}
                <small class="header-main">max. 25 Mbit/s</small>
                <small class="header-main-right">max. 25 Mbit/s</small>
            </h3>
          </div>
          <div class="body">
            <!-- <p>{{ div.content }}</p> -->
            <h5 class="body-main"><i class="fas fa-check" style="color: orange;"></i>Free Deployment</h5>
            <small class="body-main2">One-time provision is no</small>
            <small class="body-main2">One-time provision is not</small>
            <small class="body-main2">One-time provision is not</small>
        </div>
          <div class="footer">
            <!-- <h5>{{div.content}}</h5> -->
            <div class="footer-price">{{div.price}} Monthly</div>
            <div class="footer-main"><button class="btn btn-primary">check availibility</button></div>
            <div class="footer-footer"><small>> Product Information Sheet</small></div>
          </div>
        </div>
      </div>
    </div>
    <div class="arrow left-arrow" (click)="prevSlide()">
      <i class="fa fa-arrow-left"></i>
    </div>
  </div>
  