    <div class="container" style="width: 1000px;">
   <div class="image-div">
    <img src="../../../assets/diverse-people-using-digital-devices_53876-101881.avif" class="img-fluid" alt="Slika" style="width: 100%; height: 250px;">
   </div>
        <div class="container-text">
         <p class="text-internet">fiber optic internet <br>
            ab 14,90 € mtl.5</p>
            <p class="text-white">Switch quickly and secure your offer</p>
          <button class="btn btn-primary">Button</button>
          <div class="gratis">
          <p class="gratis-p">Gratis <br>
        FRITZ BOX <small>5</small></p>
          </div>
        </div>
      </div>