
<footer>
  <div class="wrap">
    <div class="footer">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin"></i>
       </div>
      <div class="main">
            <li>Novi Pazar</li>
            <li>Beograd</li>
            <li>Novi Sad</li>
            <li>Tutin</li>
            <li>Sjenica</li>
      </div>
        <div class="header">
            <div class="row">
                <div class="col-md-3">
                  <p>Internet ^ Telefoine</p>
                </div>
                <div class="col-md-3">
                  <p>Business-Telefoine</p>
                </div>
                <div class="col-md-3">
                  <p>Bussines-Internet</p>
                </div>
                <div class="col-md-3">
                  <p>Carrier</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <p>Ausbau & Verdienen</p>
                </div>
                <div class="col-md-3">
                  <p>Sponsoring</p>
                </div>
                <div class="col-md-3">
                  <p>KundePortale</p>
                </div>
                <div class="col-md-3">
                  <p>Breitbadndm</p>
                </div>
              </div>
          
              <div class="row">
                <div class="col-md-3">
                  <p>Forum</p>
                </div>
                <div class="col-md-3">
                  <p>Webmail</p>
                </div>
                <div class="col-md-3">
                  <p>Affiliate</p>
                </div>
                <div class="col-md-3">
                  <p>Partneroprogram</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <p>Unternehmen</p>
                </div>
                <div class="col-md-3">
                  <p>M-net in Ihrer Region</p>
                </div>
                <div class="col-md-3">
                  <p>Empfehlen & Verdienen</p>
                </div>
                <div class="col-md-3">
                  <p>Empfehlen & Verdienen</p>
                </div>
              </div>
            </div>
        </div>

  </footer>
