  
  a{
    color: white;
    font-family: "Franklin Gothic Medium";
    text-align: center;

  }
  
  small:hover{
    border-bottom: 2px solid white;
    text-align: center;
  }
  
  .popUp{
    
width: 975px;
height: 254px;
position: absolute;
top: 100%;
left: 0%;
background-color: red;
z-index: 1999;
  
  }

  @media screen and (max-width: 567px) {
    .container {
      max-width: 450px;
    }
  }
  
  