<div class="mb-2">
<app-header>
</app-header>
</div>

<div class="mb-1">
    <app-navbar>
    </app-navbar>
</div>
 
<div class="mb-2">
<app-title>
    
</app-title>
</div>

<div class="mb-2">
     <app-city>
     </app-city>
</div>

<div class="mb-3">
<app-tariffs>
    
</app-tariffs>
</div>

<div class="mb-3">
    <app-comment-customer>   
    </app-comment-customer>
</div>
    
<div class="mb-3">
    <app-main>
    </app-main>
</div>

    
<div class="mb-3">
    <app-footer>
        
    </app-footer>
</div>
    