body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/bacground-sky.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  